@page "/Guest/List"
@using CoreBusiness
@using HajjManagement.Shared.Pages.Common
@using HajjManagement.Shared.Services
@using HajjManagement.Shared.Services.Custom
@inject IGenericAPIService<Guest> GuestService
@inject IGenericAPIService<Country> CountryService
@inject IGenericAPIService<CountryStructure> CountryStructureService
@inject IAdministrativeDivisionCustomService AdministrativeDivisionCustomService

@inject IGenericAPIService<AdministrativeDivision> AdministrativeDivisionService
@inject NavigationManager NavigationManager

<div class="m-0 p-0" dir="rtl">
    <div class="card shadow" dir="rtl">
        <div class="card-header">
            <h3 class="mb-4">الزوار</h3>
        </div>
        <div class="card-body">
            <button class="btn btn-primary mb-3" @onclick="CreateNew"><i class="bi bi-file-earmark-plus-fill"></i> إضافة جديد</button>
            @if (guests == null)
            {
                <p>جاري التحميل...</p>
            }

            else
            {
                
            <div class="mb-3">
                <label for="CountryId" class="form-label">البلد</label>
                @if (countries != null && countries.Any())
                {
                    
                    <select id="country-select" @onchange="onCountryChange" class="form-control">
                        <option value="">Select a country...</option>
                        @foreach (var country in countries)
                        {
                            <option value="@country.CountryId">@country.Name</option>
                        }
                    </select>
                }
            </div>
            <div class="mb-3">
                <label for="Level" @onchange="onMainDivisionChange" class="form-label">@(countryStructureFirstLevel==null? "العنوان":countryStructureFirstLevel.Name)</label>
                @if (MainDivisions != null && MainDivisions.Any())
                {

                    <select id="division-select" class="form-control" >
                        @* <option value="">Select a country...</option> *@
                        @foreach (var admDiv in MainDivisions)
                        {
                            <option value="@admDiv.AdministrativeDivisionId">@admDiv.Name</option>
                        }
                    </select>
                }
            </div>
            <div class="mb-3">
                <label for="Level" class="form-label">"العنوان"</label>
                @if (SubDivisions != null && SubDivisions.Any())
                {

                    <select id="division-select" class="form-control" >
                        @* <option value="">Select a country...</option> *@
                        @foreach (var admDiv in SubDivisions)
                        {
                            <option value="@admDiv.AdministrativeDivisionId">@admDiv.Name</option>
                        }
                    </select>
                }
            </div>

                <PagedTable TItem="Guest"
                            Items="guests"
                            Language="@language"
                            Columns="@GuestColumns"
                            OnView="ViewGuest"
                            OnEdit="EditGuest" />
            }


        </div>
    </div>

</div>

@code {
    private List<Guest> guests;
    private IEnumerable<AdministrativeDivision> AllDivisions;
    private IEnumerable<AdministrativeDivision> MainDivisions;
    private IEnumerable<AdministrativeDivision> SubDivisions;
    private IEnumerable<Country> countries;
    private IEnumerable<CountryStructure> AllCountryStructureList;
    private CountryStructure countryStructureFirstLevel;
    // private IEnumerable<CountryStructure> countryStructureChildren;

    private string language = "Ar";

    protected override async Task OnInitializedAsync()
    {
        guests = (await GuestService.GetAllAsync()).ToList();
        AllDivisions = await AdministrativeDivisionService.GetAllAsync();
        countries = await CountryService.GetAllAsync();
        AllCountryStructureList = await CountryStructureService.GetAllAsync();
        // Additional logic to handle guests data can be added here
        if (guests == null || !guests.Any())
        {
            // Logic to handle situation when no guests are available
            // For example, set default values or notify the user
        }
        else
        {
            // Additional processing of guests can be added here
        }
    }
    private async Task onCountryChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int selectedCountryId))
        {
            countryStructureFirstLevel = AllCountryStructureList.First(cs => cs.CountryId == selectedCountryId && 
                                                                        ( !cs.ParentCountryStructureId.HasValue||cs.ParentCountryStructureId == 0));

            MainDivisions = AllDivisions.Where(d => d.CountryId == selectedCountryId && (!d.ParentId.HasValue || d.ParentId == 0));
            if (MainDivisions.Any())
            {

                SubDivisions = await AdministrativeDivisionCustomService.GetChildrenAsync(MainDivisions.First().AdministrativeDivisionId ,AllDivisions.ToList());
            }
            // MainDivisions = (from div in AllDivisions
            //                  join cs in countryStructureFirstLevel
            //                  on div.CountryStructureId equals cs.CountryStructureId
            //                  select div)
            //               .ToList();

        }
    }
    private async Task onMainDivisionChange(ChangeEventArgs e)
    {
        if(int.TryParse(e.Value?.ToString(),out int selectedDivisionId))
        {
            List<AdministrativeDivision> divs = new List<AdministrativeDivision>(AllDivisions.ToList());
            SubDivisions = await AdministrativeDivisionCustomService.GetChildrenAsync(selectedDivisionId,divs);
        }
    }
    private void CreateNew()
    {
        NavigationManager.NavigateTo("/Guest/Form");
    }



    /// <summary>
    /// PageTable Parameters for Guests
    /// </summary>
    /// <returns></returns>
    ///
    bool IsArabic => language == "Ar";

    private List<PagedTable<Guest>.ColumnDefinition<Guest>> GuestColumns => GetGuestColumns();
    private List<PagedTable<Guest>.ColumnDefinition<Guest>> GetGuestColumns()
    {
        return new()
        {
            new() { Title = IsArabic ? "#" : "#", Property = "Id", GetValue = g => g.GuestId },
            new() { Title = IsArabic ? "الاسم" : "Name", Property = "GivenName", GetValue = g => g.GivenName + " " + g.LastName },
            new() { Title = IsArabic ? "العنوان" : "Address", Property = "AdministrativeDivisionId", GetValue = g => g.AdministrativeDivisionId },
            new() { Title = IsArabic ? "المشرف" : "Email", Property = "SupervisorId ", GetValue = g => g.SupervisorId },
            new() { Title = IsArabic ? "الحقيبة" : "Bag", Property = "BagId", GetValue = g => g.BagId },
            // New column for Phone Number
            // new() { Title = IsArabic ? "رقم الهاتف" : "Phone Number", Property = "PhoneNumber", GetValue = g => g.phone },
        };
    }
    // These methods must exist to handle OnView and OnEdit events
    private Task ViewGuest(Guest guest)
    {
        NavigationManager.NavigateTo($"/Guest/Details/{guest.GuestId}");
        return Task.CompletedTask;
    }

    private Task EditGuest(Guest guest)
    {
        NavigationManager.NavigateTo($"/Guest/Form/{guest.GuestId}");
        return Task.CompletedTask;
    }

    /// <summary>
    /// End of PageTable Parameters for Guests
    /// </summary>
    /// <returns></returns>

}
